


.container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /* overflow: hidden; */
}

.container__header{
    width: 100%;
    margin-top: 50px;
}

.container__header div:nth-child(1){
    font-size: 35px;
}
.container__header div:nth-child(2){
    font-size: 18px;
    margin-left: 40px;
}

.container__content{
    width: 100%;
    margin-top: 60px;
}

.container__content-title{
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.container__content-details{
    width: 100%;
    margin-top: 40px;
}

.container__content-details-img{
    width: 30%;
    height: 300px;
    float: left;
    background-color: rgb(218, 213, 213);
}

.container__content-details-info{
    width: 70%;
    float: left;
}

table{
    margin-left: 20px;
    text-align: left;
    font-size: 18px;
}

table tr th{
    width: 150px;
    height: 25px;

}

table tr th td{
    width: 150px;
    /* overflow-y: auto; */
}
